
.autocomplete {
    background: #000;
    z-index: 2300;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid rgba(50, 50, 50, 0.6);
}

.autocomplete * {
    font: inherit;
}

.autocomplete > div {
    padding: 0 4px;
}

.autocomplete .group {
    background: #000;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
    background: #6c757d;
    cursor: pointer;
}

