<%- include('partials/header') -%>

<div class="center-div text-center">
    <h1>Delve belongs to Pantheon</h1>
    <br>
    <br>
    <h1><span class="far fa-hand-paper fa-7x" aria-hidden="true"></span></h1>
    <br>
    <br>
    <p>It seems either you are locked or you do not belong anymore to the bee club !</p>
    <form action="/">
        <button type="submit" class="btn btn-dark btn-small">
            Return to Login
        </button>
    </form>
</div>

<%- include('partials/footer') -%>