<%- include('partials/header') -%>

<div class="center-div text-center">
    <img src="/media/defcon.png" width="25%", height="25%">
    <h1>Delve belongs to Pantheon</h1>
    <br>
    <br>
    <form action="/auth">
        <button type="submit" class="btn btn-dark btn-small">
            <span class="fab fa-discord" aria-hidden="true"></span> Login with Discord
        </button>
    </form>
</div>

<%- include('partials/footer') -%>