<%- include('partials/header') -%>

<div class="center-div text-center">
    <h1>DELVE belongs to Goons</h1>
    <br>
    <br>
    <form action="/auth">
        <button type="submit" class="btn btn-dark btn-small">
            <span class="fab fa-discord" aria-hidden="true"></span> Login with Discord
        </button>
    </form>
</div>

<%- include('partials/footer') -%>