<!-- About Modal -->
<div class="modal fade" id="about_modal" tabindex="-1" aria-labelledby="correctModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="correctModalLabel">About Goon.DEFCON</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <span style="font-size:12px">Version: 1.2</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6 d-flex justify-content-center">
                        <img src="/media/Brain.png" width="120px", height="120px">
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <img src="/media/Drachenblut.png" width="120px", height="120px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 d-flex justify-content-center">
                        <span style="font-size:12px">Developer: <strong class="low-sec">[DBL] Brain</strong></span>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <span style="font-size:12px">Provided by: <strong class="low-sec">Drachenblut - DBL</strong></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <span style="font-size:12px">Credits: <strong class="low-sec">[DBL] HolziSTL</strong>, <strong class="low-sec">[DBL] Dreixler</strong> and <strong class="low-sec">[DBL] Miruandu Margi</strong> for massiv support and testing during development. Without your feedback the tool would not be what it is now.</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <span style="font-size:12px">The tool Goon.DEFCON is and will be forever free and not shared outside our alliance. You can imagine that we spent a lot of work in development and testing. <br>If you want to appreciate our work you can do small ISK donations. <br><br>Please understand that there will not be any real money involved nor has any donation impact on features, as we want the tool and involved people to stay independed.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-outline-warning">Search</button> -->
        </div>
      </div>
    </div>
</div>